.presentation {
    scroll-margin: 35px;
    background: $secondary-color;
    padding: 120px 0 100px;
    text-align: center;
}

.presentation p {
    text-align: justify;

    @include mobile {
        text-align: center;
    }
}