@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.welcome {
    position: relative;
    height: 100vh;
    background-image: url("../assets/images/resize-eric-muhr-Lw5wAIom7KU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-color: green;
    display: flex;
    align-items: center;
    text-align: center;
}

.content {
    color: white;
    padding-left: 10%;
}

.line {
    animation: slideInFromLeft 1s ease-out forwards;
    opacity: 0;
}

.line:nth-child(1) {
    animation-delay: 0.5s;
    /* Délai pour la première ligne */
}

.line:nth-child(2) {
    animation-delay: 1s;
    /* Délai augmenté pour la deuxième ligne */
}