.welcome {
    position: relative;
    height: 100vh;
    /* Hauteur totale de la fenêtre d'affichage */
    background-image: url("../assets/images/eric-muhr-Lw5wAIom7KU-unsplash.jpg");
    /* Remplacez par le chemin de votre image */
    background-size: cover;
    /* S'assure que l'image de fond couvre toute la zone */
    background-position: center;
    /* Centre l'image de fond */
    background-color: green;
    display: flex;
    align-items: center;
    /* Centre le contenu verticalement */
    padding-left: 25%;
    text-align: center;
    /* Centre le texte */
}

.content {
    color: white;
    /* Couleur du texte */
}