.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    position: sticky;
    top: 0;
    height: 48px;
    border: 1px solid $secondary-color;
    z-index: 1;
}

.navbar .logo {
    display: flex;
}

.navbar .logo img {
    padding-left: 25px;

    @include tablet-smallDesktop {
        padding-left: 0;
    }
}

.navbar ul {
    height: 100%;
    align-items: center;


    @include tablet-smallDesktop {
        justify-content: start;
        padding: 0;
    }

    @include mobile {
        justify-content: start;
        padding: 0;
    }
}

.navbar li {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 24px;

}

.navbar li.active {
    background-color: $tertiary-color;
    transition: background-color 2s ease-out;
}

.navbar li.active .Link {
    color: $secondary-color;
    transition: color 1s ease;
}

.navbar .Link {
    font-size: 20px;
    letter-spacing: 3px;
    color: $tertiary-color;
    transition: color 3s ease;

    @include tablet-smallDesktop {
        font-size: 12px;
        letter-spacing: normal;
    }

    @include mobile {
        display: flex;
        align-items: center;
    }
}

.navbar ul li .Link .text {
    display: inline;

    @include mobile {
        display: none;
    }
}

.navbar ul li .Link svg {
    display: none;

    @include mobile {
        display: inline;
    }
}