.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    position: sticky;
    top: 0;
    height: 50px;
    border: 1px solid $secondary-color;
    z-index: 1;
}

.navbar .logo img {
    padding-left: 25px;
}

.navbar ul {
    height: 100%;
    align-items: center;
}

.navbar li {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 25px;
}

.navbar li.active {
    background-color: $tertiary-color;
    transition: background-color 2s ease-out;
}

.navbar li.active .Link {
    color: $secondary-color;
    transition: color 1s ease;
}

.navbar .Link {
    font-size: 20px;
    letter-spacing: 3px;
    color: $tertiary-color;
    transition: color 3s ease;
}