.skills {
    scroll-margin: 35px;
    background: $secondary-color;
    padding: 120px 0 100px;
    text-align: center;
}

.skills-list {
    display: flex;
    justify-content: space-around;
}

.skill-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}