.skills {
    scroll-margin: 35px;
    background: $secondary-color;
    padding: 120px 0 100px;
    text-align: center;
}

.skills h3 {
    padding: 20px;
}

.skills .moduleLine {
    background: $tertiary-color;
    width: 200px;
    height: 1px;
    margin: 20px auto;
}

.skills-list {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    @include tablet-smallDesktop {
        flex-wrap: wrap;
    }

    @include mobile {
        flex-wrap: wrap;
    }
}

.skill-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}