@import './Variables';

* {
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    max-width: 1400px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: white;
    /* color: inherit; */
}

h2 {
    margin: 0px;
}